services:
    karakeep:
        image: ghcr.io/karakeep-app/karakeep:${KARAKEEP_VERSION:-release}
        restart: unless-stopped
        volumes:
            # By default, the data is stored in a docker volume called "data".
            # If you want to mount a custom directory, change the volume mapping to:
            # - /path/to/your/directory:/data
            - data:/data
        # ports:
        #     - 3000:3000
        env_file:
            - .env
        environment:
            MEILI_ADDR: http://meilisearch:7700
            BROWSER_WEB_URL: http://chrome:9222
            # OPENAI_API_KEY: ...
            DATA_DIR: /data # DON'T CHANGE THIS
        deploy:
            replicas: 1
            restart_policy:
                condition: on-failure
            resources:
                limits:
                    cpus: "1"
                    memory: 2G
                reservations:
                    cpus: "0.5"
                    memory: 512M

    chrome:
        image: gcr.io/zenika-hub/alpine-chrome:124
        restart: unless-stopped
        command:
            - --no-sandbox
            - --disable-gpu
            - --disable-dev-shm-usage
            - --remote-debugging-address=0.0.0.0
            - --remote-debugging-port=9222
            - --hide-scrollbars

    meilisearch:
        image: getmeili/meilisearch:v1.13.3
        restart: unless-stopped
        environment:
            MEILI_MASTER_KEY: another_random_string
        environment:
            MEILI_NO_ANALYTICS: "true"
        volumes:
            - meilisearch:/meili_data

volumes:
    vikunja_files:
        driver: local
        driver_opts:
            type: nfs
            o: addr=192.168.0.11,rw,soft,nolock
            device: ":/mnt/SlowPool/Vikunja/files"
    meilisearch:
    data:

networks:
    public_network:
        external: true
