services:
    homarr:
        image: ghcr.io/homarr-labs/homarr:latest
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock # Optional, only if you want docker integration
            - homarr_data:/appdata
        environment:
            SECRET_ENCRYPTION_KEY: ${SECRET_ENCRYPTION_KEY:-}
        # ports:
        #     - "7575:7575"
        networks:
            - public_network
        deploy:
            replicas: 1
            restart_policy:
                condition: on-failure
            resources:
                limits:
                    cpus: "0.5"
                    memory: 512M
                reservations:
                    cpus: "0.3"
                    memory: 128M

volumes:
    homarr_data:
        driver: local
        driver_opts:
            type: nfs
            o: addr=192.168.0.11,rw,soft,nolock
            device: ":/mnt/SlowPool/Homarr/appdata"

networks:
    public_network:
        external: true
