services:
    gitea:
        image: gitea/gitea:1.21
        environment:
            USER_UID: 1000
            USER_GID: 1000
            GITEA__database__DB_TYPE: ${DB_TYPE:-}
            GITEA__database__HOST: ${DB_TYPE:-}
            GITEA__database__NAME: ${DB_TYPE:-}
            GITEA__database__USER: ${DB_TYPE:-}
            GITEA__database__PASSWD: ${DB_TYPE:-}
        ports:
            - "2222:22"
        networks:
            - db_network
            - public_network
        volumes:
            - gitea_data:/data
            - /etc/timezone:/etc/timezone:ro
            - /etc/localtime:/etc/localtime:ro
        deploy:
            replicas: 1
            restart_policy:
                condition: on-failure
            resources:
                limits:
                    cpus: "1"
                    memory: 1G
                reservations:
                    cpus: "0.5"
                    memory: 512M
volumes:
    gitea_data:
        driver: local
        driver_opts:
            type: nfs
            o: addr=192.168.0.11,rw,soft,nolock
            device: ":/mnt/SlowPool/Gitea"
networks:
    db_network:
        external: true
    public_network:
        external: true
