services:
    filebrowser:
        image: filebrowser/filebrowser:latest
        volumes:
            - filebrowser_config:/config
            - filebrowser_database:/database
            - filebrowser_data:/srv
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Europe/Madrid
        ports:
            - "8080:80"
        networks:
            - public_network
        deploy:
            mode: replicated
            replicas: 1
            restart_policy:
                condition: on-failure
                delay: 10s
                max_attempts: 3
            resources:
                limits:
                    cpus: "0.3"
                    memory: 256M
                reservations:
                    cpus: "0.05"
                    memory: 64M

volumes:
    filebrowser_config:
        driver: local
        driver_opts:
            type: local
            o: bind
            device: "/mnt/gluster-hdd/filebrowser/config"
    filebrowser_database:
        driver: local
        driver_opts:
            type: local
            o: bind
            device: "/mnt/gluster-hdd/filebrowser/database"
    filebrowser_data:
        driver: local
        driver_opts:
            type: local
            o: bind
            device: "/mnt/gluster-hdd/media"

networks:
    public_network:
        external: true
