services:
    kavita:
        image: jvmilazz0/kavita:latest # Using the stable branch from the official dockerhub repo.
        # ports:
        # - 5000:5000
        networks:
            - public_network
        volumes:
            - kavita_config:/kavita/config
            - kavita_media:/books
        environment:
            - TZ=Europe/Madrid
        deploy:
            replicas: 1
            restart_policy:
                condition: on-failure
                delay: 10s
                max_attempts: 3

volumes:
    kavita_config:
        driver: local
        driver_opts:
            type: local
            o: bind
            device: "/mnt/gluster-hdd/kavita/config"
    kavita_media:
        driver: local
        driver_opts:
            type: local
            o: bind
            device: "/mnt/gluster-hdd/media/books"

networks:
    public_network:
        external: true
